*,
html {
    font-family: "Roboto";
    color: #444;
}

body {
    margin: 0
}

::-moz-selection {
    background-color: #f28028;
    color: #fff
}

::selection {
    background-color: #f28028;
    color: #fff
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: gray
}

.mdl-layout__header-row {
    border-bottom: 4px solid #fff;
    margin-top: 4px;
}

.mdl-navigation>a {
    font-size: 0.95em;
    color: grey!important
}

.mdl-navigation>a:hover {
    color: black!important
}

.cict-navigation .mdl-navigation {
    margin: 0
}

.cict-navigation .mdl-navigation__link {
    border-bottom: 4px solid #fff
}

.cict-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #f28028
}

.site-ribbon {
    width: 100%;
    height: 500px;
    background: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.site-main {
    margin-top: 5vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.site-tracer {
    margin-top: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.site-updates {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.site-organizations {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/group-02.jpg');
    background-size: cover;
    background-position: right;
}

.site-programs {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/group-01.jpg');
    background-size: cover;
    background-position: center;
}

.site-objectives {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #263238
}

.tracer-desc{
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #fff
}

.site-history {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.org-avatar {
    padding: 10px;
}

.org-title {
    font-size: 1.2em;
    display: block;
    color: #fff;
    font-weight: normal;
    line-height: 1.3em;
}

.site-admission {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/group-00.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

.tracer-form-container{
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/tracer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed
}


.social {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 10px
}

.section-content .social-list{
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.socicon{
    border: 1px solid #535353;
    padding: 15px 12px 5px 15px;
    border-radius: 100%;
    margin: 20px;
    font-size: 30px;
}

.socicon:hover{
    border: 1px solid #f28028;
    border-radius: 100%;
    color: #f28028;
}

.site-layout.is-small-screen .socicon{
    padding: 8px 6px 0px 6px;
    border-radius: 100%;
    margin: 8px;
    font-size: 1.5em;
}

.site-layout.is-small-screen .social-list{
    max-width: 220px;
}

.section-content .social-list{
    margin: 0 auto;
    max-width: 300px;
}

.site-content {
    padding: 0 53px;
    margin-bottom: 40px;
}

.site-content h3 {
    margin-top: 0;
}

footer>div>ul>li {
    color: #797979
}

footer>div>ul>li>a:hover {
    color: #fff
}

footer>div {
    color: #bbb;
    font-size: small
}

.footer-content {
    background-color: #212121;
    padding: 20px 53px;
    margin: 0px;
}

.header-jumbo .university-title {
    font-size: 0.5em;
    padding: 30px;
    color: #fff
}

.header-jumbo {
    font-weight: 100;
    text-align: center;
    font-size: 3em;
    margin-top: 0.3em;
}

.header-jumbo> p {
    margin: 0;
    font-size: 0.8em;
    color: #fff
}

@media screen and (max-width:600px) {
    .header-jumbo {
        margin-top: 0.3em;
    }
    .mdl-layout-title {
        width: 100%;
        text-align: center
    }
    .header-jumbo> p {
        font-size: 0.4em;
    }
    .mdl-navigation {
        visibility: hidden;
    }
    .mdl-layout__header-row {
        margin: 0 auto;
        padding-left: 0
    }
    div.mdl-layout-spacer {
        visibility: hidden
    }
}

img.college-logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

button.cict-orange {
    background-color: #F28028!important;
    color: #fff;
    padding: 4px, 2px, 4px, 2px;
    box-shadow: none
}

.cict-text-orange {
    color: #F28028!important;
    font-weight: normal;
    ;
}

img.site-logo {
    width: auto;
    height: 38px;
}

.mobile-nav {
    visibility: hidden;
    position: fixed;
}

@media screen and (max-width:510px) {
    .mobile-nav {
        visibility: hidden;
        position: fixed;
        left: 0;
        right: 0;
        top: auto;
        width: 100%;
        z-index: 10;
        -webkit-backface-visibility: hidden;
        background-color: #263238;
        bottom: 0
    }
    .mobile-nav-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0
    }
    .mobile-nav-list .item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .mobile-nav-list .link {
        display: block;
        width: 100%;
        font-size: 24px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center
    }
    .mobile-nav-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%
    }
    .mobile-nav-list .item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .mobile-nav-list .link {
        display: block;
        width: 100%;
        font-size: 24px;
        padding-top: 0;
        padding-bottom: x;
        text-align: center;
        color: #fff;
        vertical-align: middle;
    }
    .mobile-nav-list .material-icons {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .mobile-nav> ul {
        list-style: none;
    }
    img.college-logo {
        width: 160px;
        height: auto;
        margin: 0 auto;
    }


    /*.header-jumbo .university-title{
      font-size: 0.35em;
      padding: 25px
  }*/
}

.left {
    text-align: left
}

.card-update> .mdl-card__title {
    color: #fff;
}

.card-update> .mdl-card__title.update-00 {
    background: url('../images/fiesta.jpg') center 15% no-repeat #f28028;
    background-size: cover;
}

.card-update> .mdl-card__title.update-01 {
    background: url('../images/alumni.jpg') center 15% no-repeat #f28028;
    background-size: cover;
}

.card-update> .mdl-card__title.update-02 {
    background: url('../images/cict.jpg') center 15% no-repeat #f28028;
    background-size: cover;
}

.card-update.mdl-card {
    width: auto;
    max-width: 350px;
    height: 400px;
    margin: 0 auto;
}

.card-programs.mdl-card {
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
}

.card-programs.undergrad>.mdl-card__title {
    background-color: #f28028;
    color: #fff
}

.card-programs.gradschool>.mdl-card__title {
    background-color: #263238;
    color: #fff
}

.heading {
    font-size: 34px;
    font-size: 2.6rem;
    margin: 20px 0 10px;
    padding: 0;
}

.subhead {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
    padding: 0;
}

.text-content {
    font-size: 20px;
}

.white {
    color: #fff
}

sup {
    color: rgba(0, 0, 0, .54)
}

div.section-content {
    padding: 40px 53px;
}

.site-layout.is-small-screen div.section-content {
padding: 40px 20px;
}

.site-layout.is-small-screen .site-content {
    padding: 0
}

.site-layout.is-small-screen .section-header{
    padding: 0;
}


a {
    text-decoration: none;
}

.section-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 20px
}

.more {
    float: right;
    word-spacing: 15px;
    vertical-align: middle;
}

.icon-fab-video {
    fill: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.pull-right {
    float: right;
}


.card-admission.mdl-card{
    width: 100%
}

.card-login.mdl-card{
    width: 100%;
}

.card-admission>.mdl-card__title{
    background-color: #263238;
    color: #fff
}

.mdl-grid .other-login .mdl-button{
    width: 100%
}


li.mdl-list__item>span{
    font-size: 18px;
    line-height: 1.2em
}
