*, html {
    font-family: "Roboto";
    color: #444;
}

body {
    margin: 0
}

::-moz-selection {
    background-color: #f28028;
    color: #fff
}

::selection {
    background-color: #f28028;
    color: #fff
}

.hidden{
  visibility: hidden;
}

.send-to-back{
  z-index: -100
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: gray
}

.mdl-layout__header-row {
    border-bottom: 4px solid #F5F5F5;
    margin-top: 4px;
}

.mdl-navigation>a {
    font-size: 0.95em;
    color: grey!important
}

.mdl-navigation>a:hover {
    color: black!important
}

.cict-navigation .mdl-navigation {
    margin: 0
}

.cict-navigation .mdl-navigation__link {
    border-bottom: 4px solid #fff
}

.cict-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #f28028
}

.cict-navigation .mdl-navigation__link.selected {
    border-bottom: 4px solid #f28028;
    color: #000!important
}

.site-ribbon {
    width: 100%;
    height: 500px;
    background: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.site-main {
    margin-top: 5vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.site-default {
    margin-top: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.default-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #d9d9d9;
    padding: 0;
}

.mdl-cell--8-col.default-content {
    border-radius: 2px;
    padding: 40px 80px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

.site-updates {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.site-organizations {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/group-02.jpg');
    background-size: cover;
    background-position: right;
}

.site-programs {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/group-01.jpg');
    background-size: cover;
    background-position: center;
}

.site-objectives {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #263238
}

.site-objectives-full{
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
}

.site-vmc {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #2196F3;
    background: url('../images/wvsu-top.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.site-about-hero {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/about-header.jpg');
    background-size: cover;
    background-position: center;
    padding: 3%
}

.site-about-fragment{
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
    padding: 3%
}

.site-about-fragment.qh{
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    background: url('../images/quezon-hall.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    padding: 3%
}


.translate-right, .translate-left{
    text-align: center;
}

.site-history {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.org-avatar {
    padding: 10px;
}

.org-title {
    font-size: 1.2em;
    display: block;
    color: #fff;
    font-weight: normal;
    line-height: 1.3em;
}

.org-title:hover {
    text-decoration: underline
}

.site-admission {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url('../images/group-00.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

.social {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 10px
}

.section-content .social-list {
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-list .socicon {
    border: 1px solid #535353;
    color: #535353;
    padding: 15px 12px 5px 15px;
    border-radius: 100%;
    margin: 20px;
    font-size: 30px;
}

.socicon:hover {
    border: 1px solid #f28028;
    border-radius: 100%;
    color: #f28028;
}

.site-layout.is-small-screen .socicon {
    padding: 8px 6px 0px 6px;
    border-radius: 100%;
    margin: 8px;
    font-size: 1.5em;
}

.site-layout.is-small-screen .social-list {
    max-width: 150px;
}

.section-content .social-list {
    margin: 0 auto;
    max-width: 300px;
}

.site-content {
    padding: 0 53px;
    margin-bottom: 40px;
}

.site-content h3 {
    margin-top: 0;
}

footer>div>ul>li {
    color: #797979
}

footer>div>ul>li>a:hover {
    color: #fff
}

footer>div {
    color: #bbb;
    font-size: small
}

.footer-content {
    background-color: #212121;
    padding: 20px 53px;
    margin: 0px;
}

.header-jumbo .university-title {
    font-size: 0.5em;
    padding: 30px;
    color: #fff
}

.header-jumbo {
    font-weight: 100;
    text-align: center;
    font-size: 3em;
    margin-top: 0.3em;
}

.header-jumbo> p {
    margin: 0;
    font-size: 0.8em;
    color: #fff
}

.fab-menu {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin: 20px
}

.fab-menu>.items>div, .fab-menu>div {
    text-align: right;
    display: list-item;
    margin-top: 1.5em;
    list-style: none;
}

.fab-menu>.items>div>span {
    background-color: #000;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

@media screen and (max-width:600px) {
    .header-jumbo {
        margin-top: 0.3em;
    }
    .mdl-layout-title {
        width: 100%;
        text-align: center
    }
    .header-jumbo> p {
        font-size: 0.4em;
    }
    .mdl-navigation {
        visibility: hidden;
    }
    .mdl-layout__header-row {
        margin: 0 auto;
        padding-left: 0
    }
    div.mdl-layout-spacer {
        visibility: hidden
    }
    .mdl-cell--8-col.default-content {
        border-radius: 2px;
        padding: 10px 20px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .fab-menu {
        visibility: visible;
        position: fixed;
    }

    .iconpubs-desktop{
        visibility: hidden
    }

    .iconpubs-mobile{
        visibility: visible;
    }

}

.site-layout.is-small-screen .col-2 > div{
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 20px;
    width: 100%
}

img.college-logo {
    width: 180px;
    height: auto;
    margin: 0 auto;
}

a.cict-orange, button.cict-orange {
    background-color: #F28028!important;
    color: #fff;
    padding: 4px, 2px, 4px, 2px;
    box-shadow: none
}

.cict-text-orange {
    color: #F28028!important;
    font-weight: normal;
    ;
}

img.site-logo {
    width: auto;
    height: 38px;
}

.iconpubs-mobile{
    visibility: hidden;
    height: 0
}

@media screen and (max-width:510px) {
    img.college-logo {
        width: 160px;
        height: auto;
        margin: 0 auto;
    }

    .iconpubs-mobile{
        visibility: visible;
        height: auto;
    }



    /*.header-jumbo .university-title{
      font-size: 0.35em;
      padding: 25px
  }*/
}

.left {
    text-align: left
}

.card-update> .mdl-card__title {
    color: #fff;
}

.card-update> .mdl-card__title.update-01 {
    background: url('../images/alumni.jpg') center 15% no-repeat #f28028;
    background-size: cover;
}

.card-update.mdl-card {
    width: auto;
    max-width: 350px;
    height: 400px;
    margin: 0 auto;
}

.card-programs.mdl-card {
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
}

.card-programs.undergrad>.mdl-card__title {
    background-color: #f28028;
    color: #fff
}

.card-programs.gradschool>.mdl-card__title {
    background-color: #263238;
    color: #fff
}

.heading {
    font-size: 34px;
    font-size: 2.6rem;
    margin: 20px 0 10px;
    padding: 0;
}

.subhead {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
    padding: 0;
}

.text-content {
    font-size: 20px;
}

.white {
    color: #fff
}

sup {
    color: rgba(0, 0, 0, .54)
}

div.section-content {
    padding: 40px 53px;
}

.site-layout.is-small-screen div.section-content {
    padding: 40px 20px;
}

.site-layout.is-small-screen .site-content {
    padding: 0
}

.site-layout.is-small-screen .section-header {
    padding: 0;
}

a {
    text-decoration: none;
}

.section-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 20px
}

.more {
    float: right;
    word-spacing: 15px;
    vertical-align: middle;
}

.icon-fab-video {
    fill: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.pull-right {
    float: right;
}

.card-admission.mdl-card {
    width: 100%
}

.card-login.mdl-card {
    width: 100%;
}

.card-admission>.mdl-card__title {
    background-color: #263238;
    color: #fff
}

.mdl-grid .other-login .mdl-button {
    width: 100%
}

li.mdl-list__item>span {
    font-size: 18px;
    line-height: 1.2em
}

.small, p.small {
    font-size: small
}

p.devstat {
    margin-top: 1%
}

.site-layout.is-small-screen p.devstat {
    padding-top: 20px;
    max-width: 200px;
    margin: 0 auto
}

p.tagline {
    max-width: 330px;
    line-height: 1.1em;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.site-layout.is-small-screen p.tagline {
    max-width: 160px;
    line-height: 1.1em;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    font-size: medium;
}

.desktop-form {
    margin: 5px;
}

dialog.mdl-dialog.lightbox {
    width: 90%
}

video {
    height: 90%;
    width: auto;
}

.page-header {
    margin-bottom: 0;
    padding-bottom: 0
}

.page-meta {
    font-size: small;
    color: #8e8e8e;
    margin-bottom: 0.2em;
}

.page-social {
    margin-bottom: 2em;
}


/* Set an optional width for your button wrappers */

.page-social span {
    display: inline-block;
    margin-left: 2em;
    font-size: 1px;
    vertical-align: middle;
}

.page-social span> * {
    vertical-align: middle!important;
}

.img-responsive{
    width: 100%;
    height: auto;
}

.img-desc{
    margin-top: 0;
    color: #5f5f5f;
    margin-bottom: 2em;
}

.updates-grid{
    max-width: 1024px;
}

a.iconpubs-mobile-link{
    max-width: 230px;
    text-overflow: ellipsis;
}

.section-content.col-2 > div > img {
    margin-left: 20px;
}

.section-content.col-2 > div {
    display: table-cell;
    vertical-align: middle;
    max-width: 600px;
    min-width: 450px

}

.iict-logo-container, .cict-logo-container{
    text-align: center;
}

#iict-logo, #cict-logo{
    width: 200px;
    text-align: center;
    vertical-align: middle;
}

.site-layout.is-small-screen .col-2 > div > img {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto
}

.site-layout.is-small-screen .section-content.col-2 > div {
    min-width: 100%;
}

.linkage{
  text-align: center;
}

.linkage-logo-box{
  max-width: 250px
}

.linkage-logo-rec{
  max-width: 300px;
  padding-top: 30px;

}

.site-layout.is-small-screen .linkage-logo-rec{
  max-width: 200px;
  padding-top: 30px;

}
