<div class="site-admission">
    <div class="section-content mdl-typography--font-light">
        <div class="section-header">
            <h2 class="mdl-typography--font-light mdl-color-text--white heading">Be the next CICTzen!</h2>
            <p class="subhead mdl-color-text--white">Admission Guide</p>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--7-col">
                <div class="card-admission mdl-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Requirements</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">check</i> 
                                <span>Completed a secondary course in a school recognized by DepEd.</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">check</i> 
                                <span>Have passed the ICT Aptitude Test</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">check</i>
                                <span>
                                    Have passed the College Interview
                                </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">check</i>
                                <span>
                                    Certificate of Good Moral Character issued by the principal of the secondary school graduated from
                                </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">check</i>
                                <span>Have passed the University Physical Examination </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
						Download Form
						</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>