<dialog id="tracer-web" class="mdl-dialog">
<h4 class="mdl-dialog__title">Alumni Tracer Web Form</h4>
<div class="mdl-dialog__content">
<p>
    The next page will load a web app. Please wait until it completely loads.
</p>
</div>
<div class="mdl-dialog__actions">
<a class="mdl-button proceed" href="tracer/">OK</a>
</div>
</dialog>
<dialog id="tracer-desktop" class="mdl-dialog">
<h4 class="mdl-dialog__title">Alumni Tracer Desktop Form</h4>
<div class="mdl-dialog__content">
<p>
    Internet connection problems? You can take the form offline. Data is synced as soon as you connect to the internet.
</p>
<a class="mdl-button mdl-button--raised desktop-form" href="tracer/winx32.zip">Windows x32</a>
<a class="mdl-button mdl-button--raised desktop-form" href="tracer/winx64.zip">Windows x64</a>
<a class="mdl-button mdl-button--raised desktop-form" href="tracer/linux.zip">Linux x64</a>
<a class="mdl-button mdl-button--raised desktop-form" href="tracer/osx.zip">Mac OS X x64</a>
</div>
<div class="mdl-dialog__actions">
<button class="mdl-button close">Close</button>
</div>
</dialog> 