<div class="site-history">
    <div class="section-content mdl-typography--font-light">
        <div class="section-header">
            <h2 class="mdl-typography--font-light heading">Our Story</h2>
        </div>
        <p class="subhead mdl-color-text--grey-800">Learn how the college began.</p>
        <p class="text-content mdl-typography--font-light">The Bachelor of Science in Information Technology (BSIT) and Bachelor of Science in Information Management (BSIM) degree programs were first offered in June 1998 under the Institute of Mass Communications (now College of Mass Communications.
            During the University&apos;s 75<sup>th</sup> Commencement Exercises...</p>
        <p>
            <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
            CICT&apos;s History
            </a>
            <div class="section-spacer"></div>
        </p>
    </div>
</div>
