<div class="fab-menu hidden">
<div class="items hidden">
  <div>
    <span>Home</span>
    <a href="{{"/" | prepend: site.baseurl | prepend: site.url }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">home</i>
    </a>
  </div>
  <div>
    <span>Updates</span>
    <a href="{{"/updates" | prepend: site.baseurl | prepend: site.url }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">notifications</i>
    </a>
  </div>
  <div>
    <span>About</span>
    <a href="{{"/about" | prepend: site.baseurl | prepend: site.url }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">help</i>
    </a>
  </div>
</div>
<div>
  <button id="mobile-menu" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="toggleMenu()">
    <i class="material-icons">close</i>
  </button>
</div>
</div>
