<div class="site-objectives">
    <div class="section-content mdl-typography--font-light">
        <div class="section-header">
            <h2 class="mdl-typography--font-light mdl-color-text--white heading">Our Goals</h2>
        </div>
        <p class="subhead mdl-typography--font-light mdl-color-text--white">The College of Information and Communications Technology seeks to develop globally competent ICT professionals, sufficiently equipped with appropriate knowledge, skills and attitude, for them to effectively design, develop, implement
            and manage information and communications technology resources in multi-disciplinary fields.</p>
        <p>
            <a href="{{"/vmgo/en" | prepend: site.baseurl | prepend: site.url }}" class="mdl-button mdl-js-button mdl-color--white mdl-button--raised mdl-js-ripple-effect">
      			Learn More
      			</a>
        </p>
    </div>
</div>
