<div class="site-organizations">
    <div class="section-content">
        <div class="section-header">
            <h2 class="mdl-typography--font-light mdl-color-text--white heading">College Organizations</h2>
            <p class="subhead mdl-typography--font-light mdl-color-text--grey-100">
                The different organizations serving the college.
            </p>
            <ul class="mdl-list cict-orgs">
                <li class="mdl-list__item mdl-typography--font-light">
                    <span class="mdl-list__item-primary-content">
                        <img src="images/sc.png" alt="" class="org-avatar">
                    <span class="mdl-color-text--white"></span>
                    <span class="mdl-list__item-text-body mdl-color-text--white">
                    <a href="https://www.facebook.com/CICTSC1617" class="org-title">Student Council</a>
                    College of Information and Communications Technology Student Council. Representative of the student body. 
                    </span>
                    </span>
                </li>
                <li class="mdl-list__item mdl-typography--font-light">
                    <span class="mdl-list__item-primary-content">
                        <img src="images/icon.png" alt="" class="org-avatar">                                          
                    <span class="mdl-list__item-text-body mdl-color-text--white">
                    <a href="https://www.facebook.com/weareicon.wvsu" class="org-title">iCON</a>
                    The official student publication of the college.
                    </span>
                    </span>
                </li>
                <li class="mdl-list__item mdl-typography--font-light">
                    <span class="mdl-list__item-primary-content">
                        <img src="images/mms.png" alt="" class="org-avatar">
                    <span class="mdl-list__item-text-body mdl-color-text--white">
                    <a href="#" class="org-title">Multimedia Majors Society</a>
                    Aims to provide its members additional knowledge, skills and attitude to creatively translate information resource into multimedia experience through the use of digital arts and multimedia packages and applications.
                    </span>
                    </span>
                </li>
                <li class="mdl-list__item mdl-typography--font-light">
                    <span class="mdl-list__item-primary-content">
                        <img src="images/icode.png" alt="" class="org-avatar">
                        <span class="mdl-list__item-text-body mdl-color-text--white">
                        <a href="https://www.facebook.com/icodeiict" class="org-title">iCODE</a>
                        Organization specialized for learning how to implement, maintain and develop realiable and efficient software products or apps using software engineering concepts.
                        </span>
                    </span>
                </li>
                <li class="mdl-list__item mdl-typography--font-light">
                    <span class="mdl-list__item-primary-content">
                        <img src="images/epulse.png" alt="" class="org-avatar">
                    <span class="mdl-list__item-text-body mdl-color-text--white">
                    <a href="#" class="org-title">e-Pulse.net</a>
                    Test your skills in hardware and network troubleshooting. Help other people by providing technical support and connectivity.
                    </span>
                    </span>
                </li>
                <li class="mdl-list__item mdl-typography--font-light">
                    <span class="mdl-list__item-primary-content">
                        <img src="images/iso.png" alt="" class="org-avatar">
                    <span class="mdl-list__item-text-body mdl-color-text--white">
                    <a href="#" class="org-title">Information Systems Organization</a>
                    Assist clients in developing Information Systems and provide assistance in organizing events.
                    </span>
                    </span>
                </li>
                <li class="mdl-list__item mdl-typography--font-light">
                    <span class="mdl-list__item-primary-content">
                        <img src="images/linkexe.png" alt="" class="org-avatar">
                    <span class="mdl-list__item-text-body mdl-color-text--white">
                    <a href="https://www.facebook.com/LINKexe-140631119282646" class="org-title">LINK.exe</a>
                    Uphold, generate, enrich and serve - Link.exe is a special interest group whose members are trained through hands-on work and field projects within the university as well as external communities.
                    </span>
                    </span>
                </li>
        </div>
    </div>
</div>