<div class="site-programs">
    <div class="section-content">
        <div class="section-header">
            <h2 class="mdl-typography--font-light mdl-color-text--white heading">Programs</h2>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="card-programs mdl-card undergrad">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Undergraduate</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        CICT is currently offering Bachelor of Science in Information Technology (BSIT), Bachelor of Science in Information Systems (BSIS) and Bachelor of Science in Computer Science (BSCS).
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
                        BSIT
                        </a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
                        BSIS
                        </a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
                        BSCS
                        </a>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div class="card-programs mdl-card gradschool">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Graduate School</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        The college recently has been approved to offer Master in Information Technology in accordance with the pertinent provisions of Republic Act (RA) No. 7722 effective on the Academic Year 2015-2016.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
						MSIT
						</a>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
        </div>
        <div class="section-spacer"></div>
    </div>
</div>