<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Share, inspire, and tell stories about different things about technology and making it big in the future.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <title>CICT Online - RealITy X</title>
      <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cictonline">
    <meta name="twitter:title" content="RealITy X">
    <meta name="twitter:description" content="Share, inspire, and tell stories about different things about technology and making it big in the future.">
    <meta name="twitter:creator" content="cictonline">
    <meta name="twitter:image" content="{{ "/images/reality/twitter-card.jpg" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="RealITy X" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://cictwvsu.com/realITy" />
    <meta property="og:image" content="{{ "/images/reality/graph-thumb.jpg" | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:description" content="Share, inspire, and tell stories about different things about technology and making it big in the future." />
    <meta property="og:site_name" content="CICT Online - RealITy" /> 

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-orange.min.css" />
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ "/lib/material.min.css" | prepend: site.baseurl | prepend: site.url }}"> -->
    <link rel="stylesheet" href="{{ "/lib/dialog-polyfill/dialog-polyfill.css" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/lib/lity.min.css" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/styles.min.css" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" type="image/x-icon">
    <link rel="icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" type="image/x-icon">
</head>
