<div class="site-ribbon">
    <div class="header-jumbo">
        <p class="university-title mdl-typography--font-light">West Visayas State University</p>
        <img class="college-logo" src="images/cict-logo.png" alt="">
        <p class="mdl-typography--font-light tagline">Attaining Excellence
            in ICT Education</p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored cict-orange" onclick="lightUp('images/vid-soon.jpg')">
            Watch the Video
        </button>
        <p class="small devstat">This website is still under heavy development. </p>
    </div>
</div>