<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="{{ "/lib/material.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/lib/dialog-polyfill/dialog-polyfill.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/lib/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/lib/lity.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script>
	$('.nav__link-home').addClass('selected');
</script>
<script src="{{ "/js/main.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
