
<div class="social mdl-color--white">
    <div class="section-content">
        <ul class="social-list">
            <li>
                <a href="https://www.facebook.com/cictwvsu" class="socicon socicon-facebook"></a>
            </li>
            <li>
                <a href="https://twitter.com/cictwvsu" class="socicon socicon-twitter"></a>
            </li>
            <li>
                <a href="https://github.com/wvsu-cict-code" class="socicon socicon-github"></a>
            </li>
        </ul>
    </div>
</div>