<div class="site-updates mdl-grid">
	<div class="site-content mdl-color--white content mdl-cell mdl-cell--12-col mdl-typography--text-left">
		<h2 class="mdl-typography--font-light heading">What&apos;s up?</h2>
		<p class="subhead mdl-color-text--grey-500">Know the latest happenings in the college.</p>
		<div class="updates-grid mdl-grid">
			{% for post in site.posts %}
			{% if post.highlight == 'true' %}
			<div class="mdl-cell">
				<div class="card-update mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand" {% if post.image %} style="background: url('{{ post.image }}') center 15% no-repeat #f28028; background-size: cover;" {% endif %}>
						<h2 class="mdl-card__title-text">{{ post.title }}</h2>
					</div>
					<div class="mdl-card__supporting-text">
						{{ post.short_desc | remove: '<p>' | remove: '</p>' }}
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange" href="{{ post.url | prepend: site.baseurl }}">
						{{ post.link_text }}
						</a>
					</div>
					<div class="mdl-card__menu">
						{{ post.menu }}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% include pinned-post.html %}
		</div>
		<div class="section-spacer"></div>
		<div class="more">
			<a title="More Updates">
			More <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white" disabled><i class="material-icons">arrow_forward</i></button>
			</a>
		</div>
	</div>
</div>
