<!DOCTYPE html>
<html>
<!-- {% include head.html %}
<body>
{% include header.html %}
<div class="page-content">
<div class="wrsiteer">
{{ content }}
</div>
</div>
{% include footer.html %}
</body> -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CICT Online">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CICT Online</title>
    <link href="../css/roboto-fontface.css" rel="stylesheet">
    <link href="../css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/material.min.css">
    <link rel="stylesheet" href="../css/socioicon.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/tracer.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <script>
        // setup Polymer options
        window.Polymer = {
            lazyRegister: true,
            dom: 'shadow'
        };

        // load webcomponents polyfills
        (function() {
            if ('registerElement' in document &&
                'import' in document.createElement('link') &&
                'content' in document.createElement('template')) {
                // browser has web components
            } else {
                // polyfill web components
                var e = document.createElement('script');
                e.src = 'bower_components/webcomponentsjs/webcomponents-lite.min.js';
                document.head.appendChild(e);
            }
        })();

        // load pre-caching service worker
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('service-worker.js');
            });
        }
    </script>

    <link rel="import" href="src/tracer-components.html">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <style is="custom-style">
        paper-button.login-button,
        paper-button.add-button {
            background: #f28028;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="site-layout mdl-layout mdl-layout--fixed-header mdl-js-layout ">
        <header class="site-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                <img src="../images/site-logo.png" alt="CICT" class="site-logo">
                </span>
                <div class="mdl-layout-spacer"></div>
                <nav class="cict-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Updates</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Programs</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">About</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Contact</a>
                </nav>
            </div>
        </header>
        <main class="site-tracer mdl-layout__content">
            <div class="tracer-form-container">
                <iron-pages selected="1">
                    <div>
                        <div class="section-content mdl-typography--font-light">
                            <div class="mdl-grid">
                                <div class="mdl-cell--7-col">
                                    <h2 class="mdl-typography--font-light mdl-color-text--white heading">Tracer Study</h2>
                                    <p class="subhead mdl-color-text--white">
                                        The current status of CICT Alumnus.
                                    </p>
                                    <img class="tracer-art" src="../images/animated-svg-ff.svg" alt="">
                                </div>
                                <div class="mdl-cell mdl-cell--4-col">
                                    <div class="card-login mdl-card">
                                        <div class="mdl-card__title">
                                            <h2 class="mdl-card__title-text">Login</h2>
                                        </div>
                                        <div class="mdl-card__supporting-text">
                                            <form action="#">
                                                <paper-input label="Username"></paper-input>
                                                <paper-input label="Password" type="password"></paper-input>
                                                <p>
                                                    <paper-button raised class="login-button pull-right">Login</paper-button>
                                                </p>
                                                <div class="section-spacer"></div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="mdl-grid other-login">
                                        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-color-text--white">
                                            OR
                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                        Facebook
                                    </button>
                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                        Google
                                    </button>
                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                        GitHub
                                    </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tracer-form">
                            <div class="section-content">
                                <h2 class="mdl-typography--font-light mdl-color-text--white heading">CICT Alumni Tracer Form</h2>
                                <p class="mdl-color-text--white mdl-typography small">You are currently in admin mode. All fields required.</p>
                                <form action="#">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell">
                                            <div class="card-tracer mdl-card card-form mdl-shadow--2dp">
                                                <div class="mdl-card__title">
                                                    <h2 class="mdl-card__title-text">General Information</h2>
                                                </div>
                                                <div class="mdl-card__supporting-text">
                                                    <p>Name
                                                        <paper-input id="fam-name" label="Family"></paper-input>
                                                        <paper-input id="giv-name" label="Given"></paper-input>
                                                        <paper-input id="mid-name" label="Middle"></paper-input>
                                                    </p>
                                                    <tracer-bday id="bday" day="0" month="0" year="1991"></tracer-bday>
                                                    <paper-dropdown-menu id="sex" label="Gender">
                                                        <paper-listbox class="dropdown-content">
                                                            <paper-item>Male</paper-item>
                                                            <paper-item>Female</paper-item>
                                                            <paper-item>Other</paper-item>
                                                        </paper-listbox>
                                                    </paper-dropdown-menu>
                                                    <paper-dropdown-menu id="marital-stat" label="Marital Status">
                                                        <paper-listbox class="dropdown-content">
                                                            <paper-item>Single</paper-item>
                                                            <paper-item>Married</paper-item>
                                                            <paper-item>Separated/Divorced</paper-item>
                                                            <paper-item>Widow/Widower</paper-item>
                                                        </paper-listbox>
                                                    </paper-dropdown-menu>
                                                    <paper-input id="mobile-num" label="Mobile No."></paper-input>
                                                    <paper-input id="email" label="Email address"></paper-input>
                                                    <paper-input id="home-add" label="Home Address"></paper-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdl-cell">
                                            <div class="card-tracer mdl-card card-form mdl-shadow--2dp">
                                                <div class="mdl-card__title">
                                                    <h2 class="mdl-card__title-text">Educational Background</h2>
                                                </div>
                                                <div class="mdl-card__supporting-text">
                                                    <p>Tertiary <br>
                                                        <tracer-courses></tracer-courses>
                                                        <paper-input id="ter-major" label="Major"></paper-input>
                                                        <paper-input id="ter-grad-year" paper-input label="Year Graduated" auto-validate pattern="^\d{4}$" error-message="Invalid Year"></paper-input>
                                                    </p>
                                                    <p>Secondary
                                                        <paper-input id="secschl-name" label="School"></paper-input>
                                                        <paper-input id="sec-grad-year" paper-input label="Year Graduated" auto-validate pattern="^\d{4}$" error-message="Invalid Year"></paper-input>
                                                    </p>
                                                    <p>Primary
                                                        <paper-input id="primschl-name" label="School"></paper-input>
                                                        <paper-input id="prim-grad-year" paper-input label="Year Graduated" auto-validate pattern="^\d{4}$" error-message="Invalid Year"></paper-input>
                                                    </p>
                                                    <div class="section-spacer"></div>
                                                    <p><span class="form-section-title">Additional Degrees Earned</span></p>
                                                    <p>Masteral
                                                        <paper-input id="msschl-name" label="School"></paper-input>
                                                        <paper-input id="ms-major" label="Major (if any)"></paper-input>
                                                        <paper-input id="ms-grad-year" paper-input label="Year Graduated" auto-validate pattern="^\d{4}$" error-message="Invalid Year"></paper-input>
                                                    </p>
                                                    <p>Doctorate
                                                        <paper-input id="docschl-name" label="School"></paper-input>
                                                        <paper-input id="doc-major" label="Major (if any)"></paper-input>
                                                        <paper-input id="doc-grad-year" paper-input label="Year Graduated" auto-validate pattern="^\d{4}$" error-message="Invalid Year"></paper-input>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdl-cell">
                                            <div class="card-tracer mdl-card card-form mdl-shadow--2dp">
                                                <div class="mdl-card__title">
                                                    <h2 class="mdl-card__title-text">Employment Status</h2>
                                                </div>
                                                <div class="mdl-card__supporting-text">
                                                    <p>Are you presently employed? </p>
                                                    <paper-radio-group id="empcateg" selected="yes">
                                                        <paper-radio-button name="yes">Yes</paper-radio-button>
                                                        <paper-radio-button name="no">No</paper-radio-button>
                                                    </paper-radio-group>
                                                    <div>
                                                        <p>Employment Details</p>
                                                        <paper-radio-group id="emploc" selected="local">
                                                            <paper-radio-button name="local">Local</paper-radio-button>
                                                            <paper-radio-button name="abroad">Abroad</paper-radio-button>
                                                        </paper-radio-group>
                                                        <paper-dropdown-menu label="Current Job Level">
                                                            <paper-listbox id="emplvl" class="dropdown-content">
                                                                <paper-item>Not Applicable</paper-item>
                                                                <paper-item>Rank or Clerical</paper-item>
                                                                <paper-item>Professional, Technical or Supervisory</paper-item>
                                                                <paper-item>Managerail or Executive</paper-item>
                                                                <paper-item>Self-employed</paper-item>
                                                            </paper-listbox>
                                                        </paper-dropdown-menu>
                                                        <paper-dropdown-menu label="Employment Status">
                                                            <paper-listbox id="empstat" class="dropdown-content">
                                                                <paper-item>Regular/Permanent</paper-item>
                                                                <paper-item>Casual</paper-item>
                                                                <paper-item>Contract of Service</paper-item>
                                                                <paper-item>Part-time</paper-item>
                                                            </paper-listbox>
                                                        </paper-dropdown-menu>
                                                        <paper-input id="employer" label="Name of present employer (Company / Organization)"></paper-input>
                                                        <paper-input id="employer-contact" label="Contact no. of present employer (company / organization)"></paper-input>
                                                        <p>Please state reason(s) why you are not employed. You may check more than one answer.</p>
                                                        <paper-checkbox id="unemp-0">Enrolled in advance or further study</paper-checkbox>
                                                        <paper-checkbox id="unemp-1">Family-related reasons</paper-checkbox>
                                                        <paper-checkbox id="unemp-2">Heath-related reasons</paper-checkbox>
                                                        <paper-checkbox id="unemp-3">Serving as Volunteer / Trainee</paper-checkbox>
                                                        <paper-checkbox id="unemp-4">There is no job opportunity</paper-checkbox>
                                                        <paper-checkbox id="unemp-5">Did not look for a job</paper-checkbox>
                                                        <paper-checkbox id="unemp-6">Lack of work experience</paper-checkbox>
                                                        <div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </iron-pages>

                <div class="tracer-desc">

                    <div class="section-content">
                        <iron-pages selected="0">
                            <div>
                                <p class="text-content mdl-typography--font-light mdl-color-text--white left">
                                    The college is establishing of tracing its graduates and getting feedback regarding the type of work, further study or other activity you were involved in since you completed your study from the institution. The information provided will assist the institution
                                    in planning future educational needs. Results of this tracer study will only be presented in summary form and individual responces will be kept strictly confidential. We would, therefore, highly appreciate it if you
                                    could complete the following questionnaire and submit it to us, at your earliest conveniece.
                                </p>
                            </div>
                            <div>
                                <p class="text-content mdl-typography--font-light mdl-color-text--white">
                                    Thank you very much!
                                </p>
                                <paper-button class="add-button">Submit</paper-button>
                            </div>
                        </iron-pages>
                    </div>

                </div>

                <footer class="mdl-mini-footer mdl-color--grey-900">
                    <div class="mdl-mini-footer--left-section">
                        <div class="mdl-logo">
                            Copyright &copy; 2002‒2016 College of ICT
                        </div>
                        <ul class="mdl-mini-footer__link-list">
                            <li> <a href="http://wvsu.edu.ph/">West Visayas State University</a></li>
                        </ul>

                    </div>
                    <div class="mdl-mini-footer__right-section">

                    </div>
                </footer>
        </main>
        </div>
        <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
        <script src="../js/material.min.js"></script>
        <script src="../js/tracer.js"></script>
</body>

</html>