<!DOCTYPE html>
<html>
<!-- {% include head.html %}
<body>
{% include header.html %}
<div class="page-content">
<div class="wrsiteer">
{{ content }}
</div>
</div>
{% include footer.html %}
</body> -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web sites.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CICT Online</title>
    <link href="css/roboto-fontface.css" rel="stylesheet">
    <link href="css/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/socioicon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <span id="home"></span>
    <nav class='mobile-nav'>
        <ul class='mobile-nav-list'>
            <li class='item'>
                <a class="link" href="#"><i class="material-icons mdl-color-text--white">home</i></a>
            </li>
            <li class='item'>
                <a class="link" href="/programs"><i class="material-icons mdl-color-text--white">school</i>
</a></li>
            <li class='item'>
                <a class="link" href="/blog"><i class="material-icons mdl-color-text--white">notifications</i>
</a></li>
            <li class='item'>
                <a class="link" href="/about"><i class="material-icons mdl-color-text--white">live_help</i>
</a></li>
        </ul>
    </nav>
    <div class="site-layout mdl-layout mdl-layout--fixed-header mdl-js-layout ">
        <header class="site-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                <img src="images/site-logo.png" alt="CICT" class="site-logo">
                </span>
                <div class="mdl-layout-spacer"></div>
                <nav class="cict-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase selected">Home</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Updates</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Programs</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">About</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Contact</a>
                </nav>
            </div>
        </header>
        <div class="site-ribbon">
            <div class="header-jumbo">
                <p class="university-title">West Visayas State University</p>
                <img class="college-logo" src="images/cict-logo.png" alt="">
                <p>Attaining Excellence
                    <br>in ICT Education</p>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect cict-orange">
                    Watch the Video
                </button>
            </div>
        </div>
        <main class="site-main mdl-layout__content">
            <div class="site-updates mdl-grid">
                <div class="site-content mdl-color--white content mdl-cell mdl-cell--12-col mdl-typography--text-left">
                    <h2 class="mdl-typography--font-light heading">What&apos;s up?</h2>
                    <p class="subhead mdl-color-text--grey-500">Know the latest happenings in the college.</p>
                    <div class="updates-grid mdl-grid">
                        <div class="mdl-cell">
                            <div class="card-update mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand update-00">
                                    <h2 class="mdl-card__title-text">Pagtiriripon 2016</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The different CICTzen barangays (Brgy. Nabigo, Pinaasa...etc) joined the celebration of the 2016<sup>th</sup> CICT Acquaintance Party held at the WVSU Jubilee Park.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
Read More
</a>
                                </div>
                                <div class="mdl-card__menu">
                                    <a href="https://youtu.be/F17QUt46weo" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color--red">
                                        <svg class="icon-fab-video" enable-background="new 0 0 32 32" height="16px" version="1.1" viewBox="0 0 32 32" width="16px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                            <path d="M28.8,3.8c-1-0.3-6.9-0.6-12.8-0.6c-5.9,0-11.8,0.3-12.8,0.6C0.7,4.6,0,10.2,0,16s0.7,11.4,3.2,12.2c1,0.3,6.9,0.6,12.8,0.6 c5.9,0,11.8-0.3,12.8-0.6C31.3,27.4,32,21.8,32,16S31.3,4.7,28.8,3.8 M12.8,22.4V9.6l8.8,6.4L12.8,22.4z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell">
                            <div class="card-update mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand update-01">
                                    <h2 class="mdl-card__title-text">Alumni Tracer</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The CICT is currently tracking the current status of her graduates. Help us by filling up the form.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange" href="tracer/">
Checkout the Form
</a>
                                </div>
                                <div class="mdl-card__menu">
                                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <i class="material-icons mdl-color-text--white">share</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell">
                            <div class="card-update mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand update-02">
                                    <h2 class="mdl-card__title-text">Going for Level 3</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The college will be applying for Level 3 Accreditation this coming August 29. Headed by the College Dean, Dr. Joel T. De Castro. Click the button below to check the Accreditation updates.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
Accreditation Updates
</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-spacer"></div>
                    <div class="more">
                        <a href="#" title="More Updates">
More <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white"><i class="material-icons">arrow_forward</i></button>
</a>
                    </div>
                </div>
            </div>
            <div class="site-programs">
                <div class="section-content">
                    <div class="section-header">
                        <h2 class="mdl-typography--font-light mdl-color-text--white heading">Programs</h2>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="card-programs mdl-card undergrad">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Undergraduate</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    CICT is currently offering Bachelor of Science in Information Technology (BSIT), Bachelor of Science in Information Systems (BSIS) and Bachelor of Science in Computer Science (BSCS).
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
BSIT
</a>
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
BSIS
</a>
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
BSCS
</a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="card-programs mdl-card gradschool">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Graduate School</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The college recently has been approved to offer Master in Information Technology in accordance with the pertinent provisions of Republic Act (RA) No. 7722 effective on the Academic Year 2015-2016.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
MSIT
</a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
                    </div>
                    <div class="section-spacer"></div>
                </div>
            </div>
            <div class="site-objectives">

                <div class="section-content mdl-typography--font-light">
                    <div class="section-header">
                        <h2 class="mdl-typography--font-light mdl-color-text--white heading">Our Goals</h2>
                    </div>
                    <p class="subhead mdl-color-text--white">The College of Information and Communications Technology seeks to develop globally competent ICT professionals, sufficiently equipped with appropriate knowledge, skills and attitude, for them to effectively design, develop, implement
                        and manage information and communications technology resources in multi-disciplinary fields.</p>
                    <p>
                        <a href="#" class="mdl-button mdl-js-button mdl-color--white mdl-button--raised mdl-js-ripple-effect">
College Objectives
</a>
                    </p>
                </div>

            </div>
            <div class="site-history">

                <div class="section-content mdl-typography--font-light">
                    <div class="section-header">
                        <h2 class="mdl-typography--font-light heading">Our Story</h2>
                    </div>
                    <p class="subhead mdl-color-text--grey-800">Learn how the college began.</p>
                    <p class="text-content">The Bachelor of Science in Information Technology (BSIT) and Bachelor of Science in Information Management (BSIM) degree programs were first offered in June 1998 under the Institute of Mass Communications (now College of Mass Communications.
                        During the University&apos;s 75<sup>th</sup> Commencement Exercises...</p>

                    <p>
                        <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
Learn More
</a>
                        <div class="section-spacer"></div>
                    </p>
                </div>

            </div>
            <div class="site-organizations">
                <div class="section-content">
                    <div class="section-header">
                        <h2 class="mdl-typography--font-light mdl-color-text--white heading">College Organizations</h2>
                        <p class="subhead mdl-typography--font-light mdl-color-text--grey-100">
                            The different organizations serving the college.
                        </p>
                        <ul class="mdl-list cict-orgs">
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                             <img src="images/sc.png" alt="" class="org-avatar">
                                            <span class="mdl-color-text--white"></span>
                                <span class="mdl-list__item-text-body mdl-color-text--white">
                                <a href="https://www.facebook.com/CICTSC1617" class="org-title">Student Council</a>
        College of Information and Communications Technology Student Council. Representative of the student body. 
      </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                             <img src="images/icon.png" alt="" class="org-avatar">                                          
                                <span class="mdl-list__item-text-body mdl-color-text--white">
                                <a href="https://www.facebook.com/weareicon.wvsu" class="org-title">iCON</a>
        The official student publication of the college.
      </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                             <img src="images/mms.png" alt="" class="org-avatar">
                                <span class="mdl-list__item-text-body mdl-color-text--white">
                                <a href="#" class="org-title">Multimedia Majors Society</a>
        Aims to provide its members additional knowledge, skills and attitude to creatively translate information resource into multimedia experience through the use of digital arts and multimedia packages and applications.
      </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                             <img src="images/icode.png" alt="" class="org-avatar">
                                <span class="mdl-list__item-text-body mdl-color-text--white">
                                <a href="https://www.facebook.com/icodeiict" class="org-title">iCODE</a>
        Organization specialized for learning how to implement, maintain and develop realiable and efficient software products or apps using software engineering concepts.
      </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                             <img src="images/epulse.png" alt="" class="org-avatar">
                                <span class="mdl-list__item-text-body mdl-color-text--white">
                                <a href="#" class="org-title">e-Pulse.net</a>
        Test your skills in hardware and network troubleshooting. Help other people by providing technical support and connectivity.
      </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                             <img src="images/iso.png" alt="" class="org-avatar">
                                <span class="mdl-list__item-text-body mdl-color-text--white">
                                <a href="#" class="org-title">Information Systems Organization</a>
        Assist clients in developing Information Systems and provide assistance in organizing events.
      </span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-typography--font-light">
                                <span class="mdl-list__item-primary-content">
                                             <img src="images/linkexe.png" alt="" class="org-avatar">
                                <span class="mdl-list__item-text-body mdl-color-text--white">
                                <a href="https://www.facebook.com/LINKexe-140631119282646" class="org-title">LINK.exe</a>
        Uphold, generate, enrich and serve - Link.exe is a special interest group whose members are trained through hands-on work and field projects within the university as well as external communities.
      </span>
                                </span>
                            </li>

                    </div>
                </div>
            </div>
            <div class="site-admission">
                <div class="section-content mdl-typography--font-light">
                    <div class="section-header">
                        <h2 class="mdl-typography--font-light mdl-color-text--white heading">Be the next CICTzen!</h2>
                        <p class="subhead mdl-color-text--white">Admission Guide</p>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--7-col">
                            <div class="card-admission mdl-card">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Requirements</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <ul class="mdl-list">
                                        <li class="mdl-list__item mdl-typography--font-light">
                                            <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">check</i> 
                                            <span>Completed a secondary course in a school recognized by DepEd.</span>
                                            </span>
                                        </li>
                                        <li class="mdl-list__item mdl-typography--font-light">
                                            <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">check</i> 
                                            <span>Have passed the ICT Aptitude Test</span>
                                            </span>
                                        </li>
                                        <li class="mdl-list__item mdl-typography--font-light">
                                            <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">check</i>
                                            <span>
                                                Have passed the College Interview
                                            </span>
                                            </span>
                                        </li>
                                        <li class="mdl-list__item mdl-typography--font-light">
                                            <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">check</i>
                                            <span>
                                                Certificate of Good Moral Character issued by the principal of the secondary school graduated from
                                            </span>
                                            </span>
                                        </li>
                                        <li class="mdl-list__item mdl-typography--font-light">
                                            <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">check</i>
                                            <span>Have passed the University Physical Examination </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cict-text-orange">
Download Form
</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social mdl-color--white">
                <div class="section-content">
                    <ul class="social-list">
                        <li>
                            <a href="#" class="socicon socicon-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="socicon socicon-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="socicon socicon-googleplus"></a>
                        </li>
                        <li>
                            <a href="https://github.com/wvsu-cict-code" class="socicon socicon-github"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="mdl-mini-footer mdl-color--grey-900">
                <div class="mdl-mini-footer--left-section">
                    <div class="mdl-logo">
                        Copyright &copy; 2002‒2016 College of ICT
                    </div>
                    <ul class="mdl-mini-footer__link-list">
                        <li> <a href="http://wvsu.edu.ph/">West Visayas State University</a></li>
                    </ul>

                </div>
                <div class="mdl-mini-footer__right-section">

                </div>
            </footer>
    </div>
    </main>
    </div>
    <script src="js/material.min.js"></script>
</body>

</html>