<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include dialogs.html %}
    <div class="site-layout mdl-layout mdl-layout--fixed-header mdl-js-layout ">
    {% include header.html %}
    {% include ribbon.html %}
    {% include mobile-nav.html %}
    <main class="site-main mdl-layout__content">
    {{ content }}
    {% include social.html %}
	{% include footer.html %}
    </main>
    </div>
    {% include scripts-home.html %}
    <script>
    $('.nav__link-home').addClass('selected');
    </script>
</body>
</html>
