<!DOCTYPE html>
<html lang="en">
{% include reality-head.html %}
<body>
<div class="site-layout mdl-layout mdl-layout--fixed-header mdl-js-layout ">
<main class="site-default mdl-layout__content">
<div class="default-container mdl-grid reality-container">
	{{ content }}
</div>
{% include footer.html %}
</main>
</div>
<div id="fb-root"></div>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<!-- <script src="{{ "/lib/material.min.js" | prepend: site.baseurl | prepend: site.url }}"></script> -->
<script src="{{ "/lib/dialog-polyfill/dialog-polyfill.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/lib/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/lib/lity.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/lib/particleground.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/js/main.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript" src="//newsharecounts.s3-us-west-2.amazonaws.com/nsc.js"></script><script type="text/javascript">window.newShareCountsAuto="smart";</script>

    <script>
      window.___gcfg = {
        lang: 'en-US',
        parsetags: 'onload'
      };
    </script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = '//cict-online.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{% include analytics.html %}
</body>
</html>
