/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

 @import '~antd/dist/antd.css';
 
body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}


.theme-color{
  background-color: #fafafa
}

.cict-dark{
  background-color: #2f2d2e
}

.cict-darker{
  background-color: #212121
}
.cict-featured{
  background-color: #d4d4d5;
  background-position: left;
  background-size: cover;
  height: 550px;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}

.terminal-icon{
  opacity: 0.25;
}

.terminal-icon:hover{
  opacity: 0.6;
}

.grid-pattern{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2NkYGCQYiACMEIVPiOgVmpUIb4QggcPwSAHAJ3ICQ/mI97EAAAAAElFTkSuQmCC);  
}


/* Misc */

.alumni-2019-theme-text--color{
  color: #058DD0
}

.alumni-2019-theme-border--color{
  border-color: #058DD0
}


.alumni-2019-theme-bg--color{
  background-color: #058DD0
}


.alumni-2019-theme-button{
  border-color: #058DD0;
  color: #058DD0;
  background-color: transparent;
  border-width: 1px
}

.alumni-2019-theme-button:hover{
  color: #FE872D;
  border-color: #FE872D;
}

.alumni-2019-brand{
  height: 300px; width: 300px;
}
