
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.layout{ @apply bg-sec-background; }

.brand-icon {
    @apply float-left bg-no-repeat bg-center bg-contain;
    min-width: 80px;
    height: 31px;
    margin: 16px 24px 16px 0;
}

.card-updates {
    @apply shadow-md !important
}

.card-updates:hover {
    @apply shadow-2xl !important
}

.section-title {
    @apply font-thin text-lg my-4
}

.card:hover{
    @apply shadow-lg 
}

.billboard {
    @apply font-normal
}

.billboard-header{
    font-size: 1.9rem;
}

.dark-section{
    background-color: #111111
}

.img-billboard{
    width: auto;
    height: 400px
}

.navbar{
    @apply hidden
}

.navbar-dark{
    background-color: #111111!important
}

.navbar-theme-icon{
    margin: 23px 0 23px 0;
}

.mobile-menu-button{
    @apply block fixed !important;
    margin: 16px 0 16px 24px;
    z-index: 10;
    right: 40px
}

.apply-button{
    @apply mt-4 text-center dark-section text-white rounded p-3 border text-xl cursor-pointer uppercase
}

.apply-button:hover{
    @apply border-solid border border-gray-900 bg-white text-black
}

.billboard-greeting-text {
    @apply py-8 grid
}

@screen md {
    .billboard-header{
        font-size: 2rem;
    }
}

@screen lg {
    .mobile-menu-button{
       @apply hidden !important
    }

    .billboard-greeting-text{
        @apply py-32
    }

   .navbar{
       @apply block float-right !important
   }

   .billboard-header{
       font-size: 3.125rem
   }
}

@screen sm {
 
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
 
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}